@page "/Company_infos/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<style>
    h3 {
        text-align: center;
        font-size: 200%;
    }
    img {
        max-width: 100%;
        max-height: 100%;
        display: inline-block;
        border: 5px solid #555;
    }

    .box.small1 {
        height: 100px;

    }
</style>
<h3 class="card-title">Company Information</h3>
<br />
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class=" box-small1">
                <img src="/images/newocbc.jpg">
                <img src="/images/tech.png">
                <img src="/images/ktph.png">
            </div>
        </div>
        <div class="col-sim">
            <a href="/Company_infos/create" class="btn btn-secondary">
                <span class="oi oi-plus"></span>
                Create New Company
            </a>
            <br />
            <br />
            @if (Company_infos == null)
            {
                <div class="alert alert-info">Loading Company infos....</div>
            }
            else
            {
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Contact</th>
                            <th>Address</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Company_info in Company_infos)
                        {
                            <tr>
                                <td>@Company_info.Name</td>
                                <td>@Company_info.Contact</td>
                                <td>@Company_info.Address</td>
                                <td>
                                    <a href="/Company_infos/view/@Company_info.Id" class="btn btn-primary">
                                        <span class="oi oi-book"></span>
                                    </a>
                                    <a href="/Company_infos/edit/@Company_info.Id" class="btn btn-warning">
                                        <span class="oi oi-pencil"></span>
                                    </a>
                                    <button class="btn btn-danger" @onclick="@(() => Delete(Company_info.Id))">
                                        <span class="oi oi-delete"></span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>



                </table>
            }
            <form>
                <input type="button" value="Go Back" onclick="history.back()">
            </form>
        </div> 
    </div>
</div>

                 
                @code {
                    private List<Company_info> Company_infos;

                    protected async override Task OnInitializedAsync()
                    {
                        Company_infos = await _client.GetFromJsonAsync<List<Company_info>>($"{Endpoints.Company_infosEndpoint}");
                    }
                    async Task Delete(int Company_infoId)
                    {
                        var Company_info = Company_infos.First(q => q.Id == Company_infoId);
                        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {Company_info.Name}?");
                        if (confirm)
                        {
                            await _client.DeleteAsync($"{Endpoints.Company_infosEndpoint}/{Company_infoId}");
                            await OnInitializedAsync();
                        }
                    }
                }
