@page "/Company_infos/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View Company Information</h3>

<FormComponent Company_infos="Company_infos" Disabled="true" />

@code {
    [Parameter] public int id { get; set; }
    Company_info Company_infos = new Company_info();

    protected async override Task OnParametersSetAsync()
    {
        Company_infos = await _client.GetFromJsonAsync<Company_info>($"{Endpoints.Company_infosEndpoint}/{id}");
    }
}