@page "/applicant_infos/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit applicant_info</h3>

<FormComponent ButtonText="Update" OnValidSubmit="Editapplicant_info" applicant_infos="applicant_infos" />

@code {
    [Parameter] public int id { get; set; }
    applicant_info applicant_infos = new applicant_info();

    protected async override Task OnParametersSetAsync()
    {
        applicant_infos = await _client.GetFromJsonAsync<applicant_info>($"{Endpoints.Applicant_infosEndpoint}/{id}");
    }

    async Task Editapplicant_info()
    {
        await _client.PutAsJsonAsync($"{Endpoints.Applicant_infosEndpoint}/{id}", applicant_infos);
        _navManager.NavigateTo("/applicant_infos/");
    }
}