@page "/applicant_infos/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View Applicant Information</h3>

<FormComponent applicant_infos="applicant_infos" Disabled="true" />

@code {
    [Parameter] public int id { get; set; }
    applicant_info applicant_infos = new applicant_info();

    protected async override Task OnParametersSetAsync()
    {
        applicant_infos = await _client.GetFromJsonAsync<applicant_info>($"{Endpoints.Applicant_infosEndpoint}/{id}");
    }
}